.table__countries {
    /* margin-top: 10px; */
    overflow: scroll;
    color: #6a5d5d;
    background-color: white;
    height: 400px;
}

table {
    width: 100%;
}

.table__countries tr {
    display: flex;
    justify-content: space-between;
}
  
.table__countries td {
    padding: 0.4rem;
    border: none;
}
  
.table__countries tr:nth-of-type(odd) {
    background-color: #f3f2f8;
}